body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.menu {
  background-color: rgb(100, 100, 100);
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin-bottom: 10vh;
}

.menu-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
  align-items: center;
  list-style: none;
}

li {
  color: white;
  text-decoration: none;
}

.home-background {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: black;
}

.home-background > h1,
.home-background > h3 {
  color: white;
}

.home-background > .react-logo {
  align-content: center;
  margin-top: 40vh;
  margin-bottom: 40vh;
}
